#graph svg { background-color: Gainsboro; }
#graph rect.bars { fill: LightSkyBlue; }

#graph{
    position: absolute;
    top: 32%;
    left: 0%;
    width: 25%;
    height: 25%;
}

div.skyline{
    position: absolute;
    
    bottom: 45%;
    left: 0%;
    width: 100%;
    height: 75%;
    object-fit: cover;
    z-index: 0;
    opacity: 50%;
  }

  img{
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    height: 70%;
    object-fit: cover;
    z-index: 0;
  }